h2 {
  text-align: center;
}

td {
  padding: 0 5px 0 5px;
}

td:last-child {
  padding: 0 10px 0 5px;
}

td:first-child {
  padding: 0 5px 0 10px
}

table.jongjian {
  margin: auto;
  border: 1px solid #000;
}
